*/_xmsgs/
*/fuse.log
*/fuse.xmsgs
*/fuseRelaunch.cmd
*/iseconfig/
*/isim.cmd
*/isim.log
*/isim/
*/pipelined_core.gise
*/pipelined_core.xise
*/pipelined_core_summary.html
*/projfilesfull.zip
*/testbench_beh.prj
*/testbench_isim_beh.exe
*/testbench_isim_beh.wdb
*/testbench_stx_beh.prj
*/xilinxsim.ini
*/pipelined_core_isim_beh.exe
*/pipelined_core_stx_beh.prj
*/testbench_isim_beh1.wdb
*/instruction_memory_isim_beh.exe
*/instruction_memory_stx_beh.prj
*/io_reg_stx_beh.prj
